*.qcow2
*.raw
*.tar.gz
*.sig
__pycache__/
*.pyc
.deploy-oci-state.json
.deploy-oci-state.json.known_hosts
.deploy-oci-*-state.json
.deploy-oci-*-state.json.known_hosts
archlinuxarm-oci-download/
archlinuxarm-oci-*-download/
