set default=0
set timeout=3
terminal_input console
terminal_output console

menuentry 'Arch Linux ARM' {
    search --no-floppy --fs-uuid --set=root {{ROOT_UUID}}
    linux /boot/Image root=UUID={{ROOT_UUID}} rw console=tty0 console=ttyAMA0,115200n8
    initrd /boot/initramfs-linux.img
}

menuentry 'Arch Linux ARM (fallback initramfs)' {
    search --no-floppy --fs-uuid --set=root {{ROOT_UUID}}
    linux /boot/Image root=UUID={{ROOT_UUID}} rw console=tty0 console=ttyAMA0,115200n8
    initrd /boot/initramfs-linux-fallback.img
}
